@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -moz-transform: translateX(0); transform: translateX(0); }
	40% { -moz-transform: translateX(7px); transform: translateX(7px); }
	60% { -moz-transform: translateX(4px); transform: translateX(4px); }
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
	40% { -webkit-transform: translateX(7px); transform: translateX(7px); }
	60% { -webkit-transform: translateX(4px); transform: translateX(4px); }
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
	40% { -moz-transform: translateX(7px); -ms-transform: translateX(7px); -webkit-transform: translateX(7px); transform: translateX(7px); }
	60% { -moz-transform: translateX(4px); -ms-transform: translateX(4px); -webkit-transform: translateX(4px); transform: translateX(4px); }
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}